<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Marcador de Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <br>

  <ion-title class="ion-text-center"><h2>Valendo: {{valendo}}</h2></ion-title>

  <br>

  <div class="numeros">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col><ion-button expand="block" fill="outline" color="dark" (click)="mudarvalendo1()">1</ion-button></ion-col>
        <ion-col></ion-col>
        <ion-col><ion-button expand="block" fill="outline" color="dark" (click)="mudarvalendo3()">3</ion-button></ion-col>
        <ion-col></ion-col>
        <ion-col><ion-button expand="block"fill="outline" color="dark" (click)="mudarvalendo6()">6</ion-button></ion-col>
        <ion-col></ion-col>
        <ion-col><ion-button expand="block" fill="outline" color="dark" (click)="mudarvalendo9()">9</ion-button></ion-col>
        <ion-col></ion-col>
        <ion-col><ion-button expand="block" fill="outline" color="dark" (click)="mudarvalendo12()">12</ion-button></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <br>

    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>TIME 1<ion-button expand="block" color="dark" (click)="aumentartime1()">+</ion-button></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col>TIME 2<ion-button expand="block" color="dark" (click)="aumentartime2()">+</ion-button></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

    <br>

    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-button fill="clear" color="dark">{{pontostime1}}</ion-button>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-button fill="clear" color="dark">{{pontostime2}}</ion-button>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

    <br>

    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>TIME 1<ion-button expand="block" color="dark" (click)="diminuirtime1()">-</ion-button></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col>TIME 2<ion-button expand="block" color="dark" (click)="diminuirtime2()">-</ion-button></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

  <br>

  <div class="texto">
    <h2>Vitórias</h2>
  </div>

  <div class="partidas">
    <ion-card>
      <ion-card-content>
        <h2>TIME 1</h2><h2 id="direita">{{vitoriastime1}}</h2>

        <br>
        <br>

        <h2>TIME 2</h2><h2 id="direita">{{vitoriastime2}}</h2>
      </ion-card-content>
    </ion-card>
  </div>

  <br>

  <ion-button expand="full" color="dark" (click)="limpartudo()">Limpar</ion-button>


</ion-content>
